.card_hom {
    width: 300px;
    height: 250px;
    float: left;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px #333;
}

.card_hom h2 {
    text-align: center;
}

.card_hom p {
    text-align: center;
}

.time {
    text-align: center;
}

.crud_button {
    width: 260px;
    height: 50px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.button_dit {
    float: left;
    width: 110px;
    height: 50px;
    border: solid 2px gray;
    text-align: center;
    margin-right: 10px;
    border-radius: 8px;
}

.button_destroy {
    float: left;
    width: 110px;
    height: 50px;
    border: solid 2px gray;
    text-align: center;
    margin-left: 10px;
    border-radius: 8px;
}
.text_link {
    margin-top: 12px;
}